@font-face {
  font-family: ThaleahFat;
  src: url(fonts/ThaleahFat.ttf);
}


#root{
  background-image: url('https://www.itl.cat/pngfile/big/101-1015310_pokemon-video-games-gameboy-keep-calm-and-wallpaper.jpg');
  font-family: ThaleahFat;
}

.App {
  width: 100vw;
  height: 100vh;
}

.locations{
  display: grid;
  grid-template-columns: 330.2px 330.2px 330.2px 330.2px;
  grid-template-rows: 110px 110px 110px 110px 110px;
  column-gap: 20px;
  row-gap: 35px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.location{
  text-transform: capitalize;
  display: block;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border-style: solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#pokeCard{
  padding-top: 25px;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: inline-block;
  background-color: bisque;
  border-radius: 10px;
  border-color: black;
  border: solid;
  border-width: 5px;
}
#pokeCardPokemon{
  margin-top: 25px;
  margin-bottom: 25px;
  height: 120px;
  width: auto;
}
