@font-face {
  font-family: ThaleahFat;
  src: url(fonts/ThaleahFat.ttf);
}

.fightBackground {
  background-image: url(images/battle-background.jpg);
  background-size: 1440px 840px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.locationBackground {
  background-image: url('https://www.itl.cat/pngfile/big/101-1015310_pokemon-video-games-gameboy-keep-calm-and-wallpaper.jpg');
  background-size: cover;
}

body {
  height: fit-content;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  font-family: ThaleahFat;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-transform: capitalize;
}


.locationGrid {
  display: grid;
  grid-template-columns: 330.2px 330.2px 330.2px 330.2px;
  grid-template-rows: 110px 110px 110px 110px 110px;
  column-gap: 20px;
  row-gap: 35px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  color: #FFCB05;
  -webkit-text-stroke: .2px #3466AF;
}

.location {
  display: block;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
}

.enemy {
  width: 500px;
  justify-content: center;
  text-align: center;
  position: relative;
  left: 800px;
  top: 140px;
}

.my-pokemons {
  justify-content: center;
  text-align: center;
  width: 70vw;
  position: relative;
  top: 10px;
  right: 70px;
  font-size: calc(7px + 2vmin);
  padding-left: 10px;
}

.back {
  width: 25%;
  height: auto;
}

.front {
  width: 15vh;
  height: max-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fight-location {
  justify-content: center;
  text-align: center;
  color: #FFCB05;
  -webkit-text-stroke: .2px #3466AF;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#pokeCard {
  padding-top: 25px;
  width: 150px;
  height: 230px;
  margin: 10px;
  display: inline-block;
  background-color: bisque;
  border-radius: 10px;
  border-color: black;
  border: solid;
  border-width: 5px;
  text-align: center;
}

#pokeCardPokemon {
  margin-top: 10px;
  margin-bottom: 25px;
  height: 60px;
  width: auto;
}

#strikeButton {
  position: relative;
  bottom: 400px;
  left: 300px;
  scale: 2.5;
}

.pokemonHit {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2%, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4%, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8%, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8%, 0, 0);
  }
}

.pikachuHit {
  animation: shake 0.41s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-delay: 1400ms;
  animation-iteration-count: 9;
}

@keyframes hugeShake {

  10%,
  90% {
    transform: translate3d(-2%, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4%, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8%, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8%, 0, 0);
  }
}

@import url(http://fonts.googleapis.com/css?family=Russo+One);

#hpwrap {
  font-family: "Russo One", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

#hpbar {
  height: 30px;
  width: 300px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  border-radius: 23px;
  box-shadow: 1px 1px 2px #333;
}

#hp {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  line-height: 30px;
  border-right: 1px solid #fff;
  box-shadow: 1px 1px 2px #333;
  text-align: left;
}

.veryhigh {
  background-color: #89AF28;
}

.high {
  background-color: #af7928;
}

.low {
  background-color: rgb(223, 0, 0);
}

.verylow {
  background-color: rgb(150, 0, 0);
}

.location {
  backdrop-filter: blur(4px);
}

h2 {
  scale: 1.3;
  color: #FFCB05;
  -webkit-text-stroke: 0.2px #3466AF;
}
